html,body{
	width: 100%;
	height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1, h2, h3, h4{
    font-family: 'Literata', cursive;
}
main{
	display: block;
}
.set-padding{
	position: relative;
	padding: 3rem;
}
.titleintro{
	background: #151515 url(../images/back.png) no-repeat center bottom;
	background-size: cover;
	background-attachment: scroll;
	width: 100%;
	height: 104%;
	min-height: 660px;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	padding: 4rem;
	z-index: 1;
}

.page-title h1, .page-title h1 a, .page-title h1 a:visited, .page-title h1 a:active {
	color: #3f48c3;
    text-decoration: none;
	z-index: 1;
	position: static;
	
}

@media (max-width: 992px){
	.page-title h1, .page-title h1 a, .page-title h1 a:visited, .page-title h1 a:active{
		font-size: 40px;
	}

	.page-title h4{
		font-size:20px;
	}

	.introhead{
		font-size: 40px;
	}
	
	.para{
		font-size:20px;
	}
	
}

@media (min-width: 992px){
	.page-title h1, .page-title h1 a, .page-title h1 a:visited, .page-title h1 a:active{
		font-size: 60px;
	}

	.page-title h4{
		font-size:25px;
	}

	.introhead{
		font-size: 70px;
	}
	
	.para{
		font-size:30px;
	}

	.col-md-2.col-xs-12.im{
		text-align: end;
	}
}

@media(max-width:462px){
	.titleintro{
		background: #151515 url(../images/back1.png) no-repeat center bottom;
		background-size: cover;
		background-attachment: scroll;
		width: 100%;
		height: 104%;
		min-height: 660px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}

	.row.r1{
		text-align: center;
	}
}

.page-title h4 {
	color: grey;
	position: static;
}

.row.r2{
	position: relative;
	display: flex;
	align-content: center;
	justify-content:left ;
	left:50px;
}

.intro {
	background-color:#ffffff;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: auto;
	min-height: 660px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.introcontainer{
	text-align: center;
}

.blog-footer{
	background-color: #000000;
	color:#9EBDC2;
	text-align:center;
}

.header-post{
	background-color:rgb(4, 33, 63);
	width:100%;
	height:10%;
	min-height: 55px;
	opacity: 0.9;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	z-index: 2;
}

.heading-post h1, .heading-post h1 a, .heading-post h1 a:visited, .heading-post h1 a:active{
	margin-left:10px;
	font-size:35pt;
	color:#F59918;
	opacity:1;
	float:left;
}

.container-fluid.C3 {
	background: #151515 url(../images/post.jpg) no-repeat center bottom;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: auto;
	min-height: 800px;
	display: flex;
	position:relative;
	z-index: 1;
}

.row.R2{

	width:100%;
}
.date {
    color: #313030;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
	margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
	color: #000000;
	font-size: 40pt;
}

.post p{
	font-size:18pt;
	color:#000000;
}
